Importar Librerías

In [499]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer

Cargar dataset

In [500]:
rental = pd.read_csv('../datasets/dataset_rental_price.csv')

rental.head()

,bedroom,bathrooms,area,furnishing,avalable_for,address,floor_number,facing,floor_type,gate_community,...,pooja_room,study_room,others,servant_room,store_room,maintenance_amt,brok_amt,deposit_amt,mnt_amt,rent
0,2,2,0.0,Semifurnished,All,"Bella Casa Baner, Baner, , Pune, Maharashtra",1,No Direction,Not provided,No,...,0,0,0,0,0,0,0,0,0.0,18500.0
1,2,2,1050.0,Semifurnished,All,"Paranjape Blue Ridge, Hinjewadi, , Pune, Mahar...",2,West,Not provided,Yes,...,0,0,0,0,0,0,0,63000,0.0,21000.0
2,2,2,900.0,Semifurnished,All,"Simplicity Apartments, Handewadi, , Pune, Maha...",6,No Direction,Not provided,Yes,...,0,0,0,0,0,0,0,25000,0.0,12000.0
3,3,3,1100.0,Furnished,Family Only,"GK Dwarka Queens Park, Rahatani, , Pune, Mahar...",1,East,Others,Yes,...,0,0,0,0,0,0,24000,3,0.0,24000.0
4,1,1,605.0,Semifurnished,Family Only,"Anandtara Sayajiraje Avenue, Sasane Colony, , ...",4,East,Vitrified,Yes,...,0,0,1,0,0,0,0,3,0.0,13500.0

In [501]:
print(rental.isnull().sum())

bedroom                  0
bathrooms                0
area                     0
furnishing               0
avalable_for            48
address                  0
floor_number             0
facing                   0
floor_type               0
gate_community           0
corner_pro               0
parking                  0
wheelchairadption    13179
petfacility          12459
aggDur                   0
noticeDur                0
lightbill                0
powerbackup              0
propertyage              0
no_room                  0
pooja_room               0
study_room               0
others                   0
servant_room             0
store_room               0
maintenance_amt          0
brok_amt                 0
deposit_amt              0
mnt_amt                  0
rent                     0
dtype: int64

In [502]:
rental.describe()

,bedroom,bathrooms,area,floor_number,parking,aggDur,noticeDur,lightbill,powerbackup,no_room,pooja_room,study_room,others,servant_room,store_room,brok_amt,deposit_amt,mnt_amt,rent
count,16042.000000,16042.000000,16042.000000,16042.000000,16042.000000,16042.000000,16042.000000,16042.000000,16042.000000,16042.00000,16042.000000,16042.000000,16042.000000,16042.000000,16042.000000,16042.000000,1.604200e+04,16042.000000,1.604200e+04
mean,1.795911,1.778581,534.948036,3.067947,0.882122,7.439908,0.724847,0.173731,0.709513,0.75053,0.061464,0.049744,0.124610,0.031729,0.044072,6949.279890,1.490595e+05,254.167965,2.486475e+04
std,0.790971,0.814797,998.850161,2.402256,0.562534,7.726291,0.701307,0.378890,0.842586,0.43272,0.240186,0.217423,0.330287,0.175284,0.205261,17199.295354,1.421182e+07,1248.647638,9.746501e+05
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,1.600000e+03
25%,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000e+00,0.000000,1.050000e+04
50%,2.000000,2.000000,520.000000,3.000000,1.000000,11.000000,1.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000e+04,0.000000,1.500000e+04
75%,2.000000,2.000000,840.000000,5.000000,1.000000,11.000000,1.000000,0.000000,2.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,8000.000000,5.000000e+04,0.000000,2.100000e+04
max,22.000000,22.000000,72775.000000,9.000000,9.000000,36.000000,6.000000,1.000000,2.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,300000.000000,1.800050e+09,45000.000000,1.234568e+08

In [503]:
rental.describe(include='O')

,furnishing,avalable_for,address,facing,floor_type,gate_community,corner_pro,wheelchairadption,petfacility,propertyage,maintenance_amt
count,16042,15994,16042,16042,16042,16042,16042,2863,3583,16042,16042
unique,4,7,8645,9,15,2,2,1,1,6,217
top,Unfurnished,All,"Paranjape Blue Ridge, Hinjewadi, , Pune, Mahar...",East,Not provided,Yes,No,Yes,Yes,1 to 5 Year Old,0
freq,7028,7926,112,5877,6429,9387,13770,2863,3583,5602,13277

In [504]:
# show distinct maintenance_amt colums
print(rental['maintenance_amt'].unique())

['0' 'Maintenance 600/ (/ month' 'Maintenance 900/ (/ month'
 'Maintenance 1/ (/ month' 'Maintenance 500/ (/ month'
 'Maintenance 2800/ (/ month' 'Maintenance 1000/ (/ month'
 'Maintenance 100/ (/ month' 'Maintenance 2000/ (/ month'
 'Maintenance 100/ ((one time fee' 'Maintenance 1500/ (/ month'
 'Maintenance 700/ (/ month' 'Maintenance 2500/ (/ month'
 'Maintenance 1200/ (/ month' 'Maintenance 4000/ (/ month'
 'Maintenance 3000/ (/ month' 'Maintenance 1500/ ((one time fee'
 'Maintenance 1800/ (/ month' 'Maintenance 400/ (/ month'
 'Maintenance 1100/ (/ month' 'Maintenance 6000/ (/ month'
 'Maintenance 25000/ (/ month' 'Maintenance 500/ ((one time fee'
 'Maintenance 300/ (/ month' 'Maintenance 970/ (/ month'
 'Maintenance 1/ (/ year' 'Maintenance 1650/ (/ month'
 'Maintenance 5600/ (/ month' 'Maintenance 1600/ (/ month'
 'Maintenance 2860/ (/ month' 'Maintenance 800/ (/ month'
 'Maintenance 10/ (/ year' 'Maintenance 1275/ (/ month'
 'Maintenance 200/ (/ month' 'Maintenance 4/ (/ unit'
 'Maintenance 10/ (/ unit' 'Maintenance 5000/ (/ month'
 'Maintenance 45000/ (/ month' 'Maintenance 2200/ (/ month'
 'Maintenance 1/ ((one time fee' 'Maintenance 1000/ ((one time fee'
 'Maintenance 25000/ ((one time fee' 'Maintenance 1850/ (/ month'
 'Maintenance 1750/ (/ month' 'Maintenance 320/ (/ month'
 'Maintenance 4180/ (/ month' 'Maintenance 2500/ ((one time fee'
 'Maintenance 575/ (/ month' 'Maintenance 2000/ ((one time fee'
 'Maintenance 2400/ (/ month' 'Maintenance 3500/ (/ month'
 'Maintenance 550/ (/ month' 'Maintenance 1000/ (/ year'
 'Maintenance 7/ (/ unit' 'Maintenance 1300/ (/ month'
 'Maintenance 2/ (/ unit' 'Maintenance 250/ (/ month'
 'Maintenance 101/ (/ month' 'Maintenance 18000/ (/ year'
 'Maintenance 4400/ (/ month' 'Maintenance 1100/ ((one time fee'
 'Maintenance 13500/ (/ month' 'Maintenance 9300/ (/ month'
 'Maintenance 1100/ (/ year' 'Maintenance 50/ (/ month'
 'Maintenance 2035/ (/ month' 'Maintenance 2300/ (/ month'
 'Maintenance 350/ (/ month' 'Maintenance 1350/ (/ month'
 'Maintenance 2000/ (/ year' 'Maintenance 18000/ (/ month'
 'Maintenance 450/ (/ month' 'Maintenance 8700/ (/ month'
 'Maintenance 4000/ ((one time fee' 'Maintenance 500/ (/ year'
 'Maintenance 750/ (/ month' 'Maintenance 2600/ (/ month'
 'Maintenance 9600/ (/ month' 'Maintenance 1900/ (/ month'
 'Maintenance 2750/ (/ month' 'Maintenance 3000/ ((one time fee'
 'Maintenance 8750/ (/ month' 'Maintenance 2/ (/ month'
 'Maintenance 5000/ ((one time fee' 'Maintenance 700/ ((one time fee'
 'Maintenance 2850/ (/ month' 'Maintenance 930/ (/ month'
 'Maintenance 840/ (/ month' 'Maintenance 850/ (/ month'
 'Maintenance 3/ (/ unit' 'Maintenance 100/ (/ year'
 'Maintenance 2900/ (/ month' 'Maintenance 2585/ (/ month'
 'Maintenance 17000/ (/ month' 'Maintenance 10500/ (/ month'
 'Maintenance 950/ (/ month' 'Maintenance 1475/ (/ month'
 'Maintenance 10000/ (/ year' 'Maintenance 5500/ (/ month'
 'Maintenance 380/ (/ month' 'Maintenance 1735/ (/ month'
 'Maintenance 3/ (/ month' 'Maintenance 2700/ (/ month'
 'Maintenance 1450/ (/ month' 'Maintenance 1400/ (/ month'
 'Maintenance 650/ (/ month' 'Maintenance 2050/ (/ month'
 'Maintenance 24000/ (/ year' 'Maintenance 19200/ (/ year'
 'Maintenance 11000/ (/ month' 'Maintenance 2175/ (/ month'
 'Maintenance 1700/ (/ month' 'Maintenance 940/ (/ month'
 'Maintenance 8100/ (/ year' 'Maintenance 1280/ (/ month'
 'Maintenance 4800/ (/ month' 'Maintenance 3000/ (/ year'
 'Maintenance 4500/ (/ month' 'Maintenance 660/ (/ month'
 'Maintenance 1760/ (/ month' 'Maintenance 1100/ (/ unit'
 'Maintenance 15000/ (/ month' 'Maintenance 20000/ (/ month'
 'Maintenance 150/ (/ month' 'Maintenance 3000/ (/ unit'
 'Maintenance 2375/ (/ month' 'Maintenance 800/ (/ year'
 'Maintenance 5000/ (/ year' 'Maintenance 1/ (/ unit'
 'Maintenance 7200/ (/ month' 'Maintenance 2450/ (/ month'
 'Maintenance 2100/ (/ month' 'Maintenance 9700/ (/ month'
 'Maintenance 1220/ (/ month' 'Maintenance 3800/ (/ month'
 'Maintenance 1950/ (/ month' 'Maintenance 4300/ (/ month'
 'Maintenance 1250/ (/ month' 'Maintenance 12000/ (/ year'
 'Maintenance 7000/ (/ month' 'Maintenance 500/ (/ unit'
 'Maintenance 15000/ ((one time fee' 'Maintenance 1875/ (/ month'
 'Maintenance 3300/ (/ month' 'Maintenance 8000/ (/ month'
 'Maintenance 14700/ (/ month' 'Maintenance 6000/ (/ unit'
 'Maintenance 1980/ (/ month' 'Maintenance 1430/ (/ month'
 'Maintenance 2150/ (/ month' 'Maintenance 3300/ (/ unit'
 'Maintenance 42000/ (/ year' 'Maintenance 12500/ (/ month'
 'Maintenance 1150/ (/ month' 'Maintenance 1575/ (/ month'
 'Maintenance 4700/ (/ month' 'Maintenance 13500/ (/ year'
 'Maintenance 2250/ (/ month' 'Maintenance 1550/ (/ month'
 'Maintenance 6200/ (/ year' 'Maintenance 1300/ ((one time fee'
 'Maintenance 3750/ (/ month' 'Maintenance 25000/ (/ year'
 'Maintenance 770/ (/ month' 'Maintenance 12000/ (/ month'
 'Maintenance 1210/ (/ month' 'Maintenance 3600/ (/ month'
 'Maintenance 75/ (/ month' 'Maintenance 4000/ (/ unit'
 'Maintenance 523/ (/ month' 'Maintenance 13080/ (/ year'
 'Maintenance 11340/ (/ month' 'Maintenance 10000/ (/ month'
 'Maintenance 3256/ (/ month' 'Maintenance 4225/ (/ month'
 'Maintenance 36000/ (/ year' 'Maintenance 8600/ (/ month'
 'Maintenance 23000/ (/ month' 'Maintenance 11500/ (/ month'
 'Maintenance 50000/ (/ year' 'Maintenance 880/ (/ month'
 'Maintenance 2666/ (/ month' 'Maintenance 10000/ ((one time fee'
 'Maintenance 330/ (/ month' 'Maintenance 3200/ (/ month'
 'Maintenance 1035/ (/ month' 'Maintenance 2110/ (/ month'
 'Maintenance 4999/ (/ month' 'Maintenance 1970/ (/ month'
 'Maintenance 680/ (/ month' 'Maintenance 8500/ (/ month'
 'Maintenance 9000/ (/ year' 'Maintenance 13300/ (/ month'
 'Maintenance 200/ ((one time fee' 'Maintenance 2190/ (/ month'
 'Maintenance 10/ (/ month' 'Maintenance 990/ (/ month'
 'Maintenance 1000/ (/ unit' 'Maintenance 35000/ (/ month'
 'Maintenance 13000/ (/ month' 'Maintenance 5400/ ((one time fee'
 'Maintenance 40000/ (/ month' 'Maintenance 3431/ (/ month'
 'Maintenance 1320/ (/ month' 'Maintenance 5/ (/ month'
 'Maintenance 4200/ (/ month' 'Maintenance 6350/ (/ month'
 'Maintenance 18600/ (/ month' 'Maintenance 800/ (/ unit'
 'Maintenance 375/ (/ month' 'Maintenance 33500/ (/ month'
 'Maintenance 1050/ (/ month' 'Maintenance 1375/ (/ month'
 'Maintenance 2470/ (/ month' 'Maintenance 3650/ (/ month'
 'Maintenance 2650/ (/ month' 'Maintenance 3100/ (/ month']

In [505]:
print(rental['avalable_for'].unique())

['All' 'Family Only' 'Family , Bachelors (Men Only)' nan
 'Family , Bachelors (Women Only)' 'Bachelors (Men/Women)'
 'Bachelors (Men Only)' 'Bachelors (Women Only)']

In [506]:
print(rental['propertyage'].unique())

['1 to 5 Year Old' '0 to 1 Year Old' '5 to 10 Year Old' '10+ Year Old'
 'Under Construction' 'NO age']

In [507]:
def rename(df):
    
    df.columns = df.columns.str.replace(".","")
    df.columns = df.columns.str.lower().str.replace(" ","_")

rename(rental)

In [508]:
print(rental.columns)

Index(['bedroom', 'bathrooms', 'area', 'furnishing', 'avalable_for', 'address',
       'floor_number', 'facing', 'floor_type', 'gate_community', 'corner_pro',
       'parking', 'wheelchairadption', 'petfacility', 'aggdur', 'noticedur',
       'lightbill', 'powerbackup', 'propertyage', 'no_room', 'pooja_room',
       'study_room', 'others', 'servant_room', 'store_room', 'maintenance_amt',
       'brok_amt', 'deposit_amt', 'mnt_amt', 'rent'],
      dtype='object')

In [509]:
def num_cat_column(df):
    num_col = []
    cat_col = []
    for col in df:
        if df[col].dtype !='object':
            num_col.append(col)
        else:
            cat_col.append(col)
    
    return (num_col, cat_col)

num_col, cat_col = num_cat_column(rental)

In [510]:
def cat_col_view(cat_col, df):
    for i in cat_col :
        print(df[i].value_counts())
        print('-'*50)

cat_col_view(cat_col, rental)

furnishing
Unfurnished      7028
Semifurnished    6322
Furnished        2686
Unfurnishe          6
Name: count, dtype: int64
--------------------------------------------------
avalable_for
All                                7926
Family Only                        6593
Family , Bachelors (Women Only)     661
Family , Bachelors (Men Only)       395
Bachelors (Men/Women)               167
Bachelors (Men Only)                144
Bachelors (Women Only)              108
Name: count, dtype: int64
--------------------------------------------------
address
Paranjape Blue Ridge, Hinjewadi, , Pune, Maharashtra           112
Kharadi, , Pune, Maharashtra                                    58
Kolte Patil Life Republic, Hinjewadi, , Pune, Maharashtra       49
Hadapsar, , Pune, Maharashtra                                   49
Rohan Abhilasha, Wagholi, , Pune, Maharashtra                   48
                                                              ...
Lunkad Arcade, Viman Nagar, , Pune, Maharashtra                  1
Krishna, Hadapsar, , Pune, Maharashtra                           1
ayodhya nagari, Aundh, , Pune, Maharashtra                       1
Classic CHS, Hadapsar Indutrial Estate, , Pune, Maharashtra      1
Nestaway-75470, Maan, , Pune, Maharashtra                        1
Name: count, Length: 8645, dtype: int64
--------------------------------------------------
facing
East            5877
No Direction    5202
West            1433
North           1066
North-East       808
South            539
North-West       389
South-East       368
South-West       360
Name: count, dtype: int64
--------------------------------------------------
floor_type
Not provided         6429
Vitrified            5384
Ceramic              1515
Marble               1185
Mosaic                364
Others                307
Spartex               278
Granite               242
Wood                   96
Concrete               89
Polished concrete      49
Cement                 43
Vinyl                  32
Stone                  24
IPSFinish               5
Name: count, dtype: int64
--------------------------------------------------
gate_community
Yes    9387
No     6655
Name: count, dtype: int64
--------------------------------------------------
corner_pro
No     13770
Yes     2272
Name: count, dtype: int64
--------------------------------------------------
wheelchairadption
Yes    2863
Name: count, dtype: int64
--------------------------------------------------
petfacility
Yes    3583
Name: count, dtype: int64
--------------------------------------------------
propertyage
1 to 5 Year Old       5602
5 to 10 Year Old      4805
10+ Year Old          3200
0 to 1 Year Old       2166
Under Construction     250
NO age                  19
Name: count, dtype: int64
--------------------------------------------------
maintenance_amt
0                             13277
Maintenance 500/ (/ month       317
Maintenance 1/ (/ month         259
Maintenance 1000/ (/ month      241
Maintenance 1500/ (/ month      181
                              ...
Maintenance 8100/ (/ year         1
Maintenance 940/ (/ month         1
Maintenance 2050/ (/ month        1
Maintenance 1450/ (/ month        1
Maintenance 3100/ (/ month        1
Name: count, Length: 217, dtype: int64
--------------------------------------------------

In [511]:
def simplify_address(df):
    df = rental.copy()
    address = df['address'].str.lower().str.split(',')
    for i in range(len(address)):
        repeated = set()
        new_address = []
        for j in range(len(address[i])-1, -1, -1):
            address[i][j] = address[i][j].strip()
            # if value is not repeated, add to new_address front
            # ignore empty string or string full of spaces
            if address[i][j] not in repeated and address[i][j].strip():
                # ignore the addresses that has a repeated value in the split by spaces
                has_repeated = False
                for k in address[i][j].split():
                    if k in repeated:
                        has_repeated = True
                        break
                if not has_repeated:
                    new_address.insert(0, address[i][j])
                    repeated.add(address[i][j])
        # erase spaces in the begining and end of each value
        address[i] = new_address
    return address

Codificar direcciones

In [512]:
from sklearn.preprocessing import OrdinalEncoder

def encode_address(df, address):
    for i in [-3, -4]:
        new_address = pd.DataFrame(address.str[i])
        ordinal_encoder = OrdinalEncoder()
        address_encoded = ordinal_encoder.fit_transform(new_address)
        address_encoded = pd.DataFrame(address_encoded)
        df['address_' + str(i + 4)] = address_encoded
        df['address_' + str(i + 4)] = df['address_' + str(i + 4)].fillna(0)
    df.drop('address', axis=1, inplace=True)

In [513]:
def encode(df, cat_col):
    ordinal_encoder = OrdinalEncoder()
    encoded = ordinal_encoder.fit_transform(pd.DataFrame(df[cat_col]))
    encoded = pd.DataFrame(encoded)
    df[cat_col] = encoded
    df[cat_col] = df[cat_col].fillna(0)

In [514]:
def categorize_rent(df):
    bins = [0, 8000, 12000, 18000, 25000, np.inf]

    # Define the labels for the categorical values
    labels = [1, 2, 3, 4, 5]

    # Create a new column 'rent_category' with the categorical values
    df.loc[:, 'rent_category'] = pd.cut(df['rent'], bins=bins, labels=labels)

    # df['rent_category'].hist()
    # plt.title('Rent Category')

In [515]:
imputer = SimpleImputer(strategy="median")
def impute_area(dataset, is_train_set=True):
    
    dataset['area'] = dataset['area'].replace(0, np.nan)
    area = pd.DataFrame(dataset['area'])
    if is_train_set:
        # imputer = SimpleImputer(strategy="median")
        imputer.fit(area)
    area = pd.DataFrame(imputer.transform(area))
    dataset['area'] = area
    area.mean()

In [516]:
def categorize_area(dataset):
    bins = [-1, 1, 100, 500, 1000, np.inf]

    # Define the labels for the categorical values
    labels = [1, 2, 3, 4, 5]

    # Create a new column 'area_category' with the categorical values
    dataset['area_category'] = pd.cut(dataset['area'], bins=bins, labels=labels)

    # historgram of area_category
    # dataset['area_category'].hist()
    # plt.title('Area Category')

In [517]:

def transform_yes_no(df):
    columns = ['corner_pro', 'gate_community', 'wheelchairadption', 'petfacility']
    # transform yes/no to 1/0
    for i in columns:
        df[i] = df[i].replace('Yes', 1)
        df[i] = df[i].replace('No', 0)
        # replace nan with 0
        df[i] = df[i].replace(np.nan, 0)

In [518]:
# define function to convert monthly or one-time fees to annual fees
def convert_to_annual_fee(maintenance_str):
    if 'month' in maintenance_str:  # monthly fee
        fee = int(maintenance_str.split('/')[0].split()[1])
        fee *= 12  # convert to annual fee
    elif 'time' in maintenance_str:  # one-time fee
        fee = int(maintenance_str.split('/')[0].split()[1])
    elif 'year' in maintenance_str:  # annual fee
        fee = int(maintenance_str.split('/')[0].split()[1])
    else:
        fee = 0
    return fee

# apply function to 'maintenance_amt' column and replace values
def convert_maintenance_amt(df):
    df['maintenance_amt'] = df['maintenance_amt'].apply(convert_to_annual_fee)

In [519]:
def transform_set(dataset, is_train_set = False):
    if 'address' in dataset.columns:
        address = simplify_address(dataset)
        encode_address(dataset, address)
    if 'others' in dataset.columns:
        dataset.drop('others', axis=1, inplace=True)
    cat_columns = ['furnishing', 'propertyage', 'avalable_for', 'facing', 'floor_type']
    for i in cat_columns:
        if i in dataset.columns:
            encode(dataset, i)
    convert_maintenance_amt(dataset)
    
    dataset.loc[:, dataset.dtypes == 'float64'] = dataset.select_dtypes(include=['float64']).astype('int64')

    categorize_rent(dataset)
    impute_area(dataset, is_train_set=is_train_set)
    categorize_area(dataset)
    transform_yes_no(dataset)
    dataset.dropna(subset=['area'], inplace=True)
    print(dataset.head())
    return (dataset.drop(target, axis=1), dataset[target].copy())

In [520]:
def prepare_train_set(dataset):
    dataset = dataset[dataset['rent'] < 1000000]
    return transform_set(dataset, is_train_set=True)

In [521]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(rental, test_size=0.2, random_state=42)
target = 'avalable_for'

X_train, y_train = prepare_train_set(train_set)
# print(X)
X_test, y_test = transform_set(test_set)

/tmp/ipykernel_826534/2774788956.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['address_' + str(i + 4)] = address_encoded
/tmp/ipykernel_826534/2774788956.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['address_' + str(i + 4)] = df['address_' + str(i + 4)].fillna(0)
/tmp/ipykernel_826534/2774788956.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['address_' + str(i + 4)] = address_encoded
/tmp/ipykernel_826534/2774788956.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['address_' + str(i + 4)] = df['address_' + str(i + 4)].fillna(0)
/tmp/ipykernel_826534/2774788956.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('address', axis=1, inplace=True)
/tmp/ipykernel_826534/2168027356.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.drop('others', axis=1, inplace=True)
/tmp/ipykernel_826534/2265591192.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cat_col] = encoded
/tmp/ipykernel_826534/2265591192.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cat_col] = df[cat_col].fillna(0)
/tmp/ipykernel_826534/2265591192.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cat_col] = encoded
/tmp/ipykernel_826534/2265591192.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cat_col] = df[cat_col].fillna(0)
/tmp/ipykernel_826534/2265591192.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cat_col] = encoded
/tmp/ipykernel_826534/2265591192.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cat_col] = df[cat_col].fillna(0)
/tmp/ipykernel_826534/2265591192.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cat_col] = encoded
/tmp/ipykernel_826534/2265591192.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cat_col] = df[cat_col].fillna(0)
/tmp/ipykernel_826534/2265591192.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cat_col] = encoded
/tmp/ipykernel_826534/2265591192.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cat_col] = df[cat_col].fillna(0)
/tmp/ipykernel_826534/1387100034.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maintenance_amt'] = df['maintenance_amt'].apply(convert_to_annual_fee)
/tmp/ipykernel_826534/2330826203.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'rent_category'] = pd.cut(df['rent'], bins=bins, labels=labels)
/tmp/ipykernel_826534/3273185432.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['area'] = dataset['area'].replace(0, np.nan)
/tmp/ipykernel_826534/3273185432.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['area'] = area
/tmp/ipykernel_826534/3968686483.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['area_category'] = pd.cut(dataset['area'], bins=bins, labels=labels)
/tmp/ipykernel_826534/3181225789.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].replace('Yes', 1)
/tmp/ipykernel_826534/3181225789.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].replace('No', 0)
/tmp/ipykernel_826534/2168027356.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.dropna(subset=['area'], inplace=True)

      bedroom  bathrooms   area  furnishing  avalable_for  floor_number
9020        2          2  520.0         1.0           6.0             6  \
185         1          1  907.0         1.0           0.0             6
7700        1          1  500.0         1.0           6.0             0
9568        2          2  750.0         3.0           6.0             1
6647        3          3  750.0         1.0           6.0             4

      facing  floor_type  gate_community  corner_pro  ...  store_room
9020     0.0         7.0               1           0  ...           0  \
185      5.0         8.0               0           0  ...           0
7700     0.0         1.0               0           0  ...           0
9568     1.0         7.0               0           0  ...           0
6647     1.0         7.0               1           1  ...           0

      maintenance_amt  brok_amt  deposit_amt  mnt_amt     rent  address_1
9020                0         0        30000      0.0  13000.0      961.0  \
185                 0         0        20000      0.0  17000.0      843.0
7700                0         0        10000      0.0   4500.0      879.0
9568                1     12100        36000      0.0  12100.0     1296.0
6647            36000         0            0   3000.0  20000.0     1296.0

      address_0  rent_category  area_category
9020     3492.0              3              4
185      4593.0              3              4
7700     1661.0              1              3
9568     6762.0              3              4
6647      670.0              4              4

[5 rows x 32 columns]
      bedroom  bathrooms    area  furnishing  avalable_for  floor_number
1698        1          2   450.0         1.0           0.0             3  \
1769        2          2   750.0         3.0           0.0             3
1768        2          2   858.0         3.0           0.0             3
2882        1          2  1050.0         1.0           6.0             8
2084        1          1   550.0         1.0           5.0             0

      facing  floor_type  gate_community  corner_pro  ...  store_room
1698     1.0         7.0               1           0  ...           0  \
1769     1.0         7.0               0           1  ...           0
1768     0.0        13.0               1           0  ...           0
2882     4.0         5.0               1           1  ...           0
2084     3.0         7.0               1           1  ...           0

      maintenance_amt  brok_amt  deposit_amt  mnt_amt     rent  address_1
1698                1     17000        50000      1.0  17000.0     1260.0  \
1769                0         0        50000      0.0  15000.0      161.0
1768                0         0            2      0.0  22000.0      164.0
2882                0     19000        50000      0.0  19000.0      889.0
2084                0         0        20000      0.0   7500.0      836.0

      address_0  rent_category  area_category
1698      983.0              3              3
1769      892.0              3              4
1768     4998.0              4              4
2882     2994.0              4              5
2084        0.0              1              4

[5 rows x 32 columns]

In [522]:
print(y_train.value_counts())

avalable_for
0.0    5117
6.0    4204
5.0     430
4.0     251
2.0     102
1.0     102
3.0      60
Name: count, dtype: int64

In [523]:
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import cross_val_score
treeclf = DecisionTreeClassifier(max_depth=5, criterion='gini')
treeclf.fit(X_train, y_train)

print('Train_Score: ', np.mean(cross_val_score(treeclf, X_train, y_train)))
print('Test_Score: ', np.mean(cross_val_score(treeclf, X_test, y_test)))
print('target_variable:', target)

Train_Score:  0.5002915912353784
Test_Score:  0.4364787418365987
target_variable: avalable_for

/home/pacha/pacha/Ciencia de Datos y ML/practica primer parcial/rental_price_prediction_ML/env/lib/python3.10/site-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  warnings.warn(